<a href="<%= service_path(service) %>" class="card-popup-map card-service-link" style="text-decoration: none;">
  <div>
    <% if service.photos.attached? %>
      <%= cl_image_tag service.photos.first.key, height: 120, width: 150, alt: "Logo" %>
    <% end %>
  </div>
  <div class="card-info-map">
    <h2 class="hotel-name"><%= service.user.hotel_name %></h2>
    <div class="hotel-descrip">
      <p><%= service.sub_category.name %></p>
      <p class="card-hotel-rating"><i class="fa-regular fa-star"></i> <%= service.reviews.average(:rating) %></p>
      
    </div>
  </div>
</a>
