<%# <p>Find me in app/views/services/show.html.erb</p> %>

<%# HOTEL SERVICE SLIDE SHOW %>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
  
    <div class="carousel-item active">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/14/09/11/63/lobby-v18391035.jpg?w=2400&h=-1&s=1" class="d-block w-100" alt="Service Card">
    </div>
    <div class="carousel-item">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1d/42/d5/59/margot-house.jpg?w=1400&h=-1&s=1" class="d-block w-100" alt="More Hotel">
    </div>
    <div class="carousel-item">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1d/42/d5/60/margot-house.jpg?w=1400&h=-1&s=1" class="d-block w-100" alt="Hotel">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<%# HOTEL SERVICE CARD %>
<div class="card card-service-show">
  <div class="card-body body-service">
    <div class="service-secondary-info">
      <!-- Flex container for title and price -->
      <div class="title-price-container">
        <h5 class="card-title"><%= @service.user.hotel_name %></h5>
        <span class="button-2">
          </i><%="#{@service.price}€"%>
        </span>
      </div>
      <!-- Flex container for main info -->
      <div class="service-main-info">
        <p class="card-text"><%= @service.sub_category.name %></p>
        <p class="card-text"><%= @service.description %></p>
        <div class="divider"></div>
          <div class="other-services">
            <p>Other Services</p>
              <button class="button-3">Gym</button>
              <button class="button-3">Pool</button>
              <button class="button-3">Free Wifi</button>
          </div>
      </div>
    </div>
  </div>
</div>

<%# REVIEWS CARD %>
<div class="card card-reviews">
  <div class="card-body body-service">
      <div class="title-reviews-container">
        <h5 class="card-title">Reviews</h5>
        <p class="card-text">4.9 ★</p>
      </div>
      </div>
      <div class="card-body body-service">
        <p class ="card-text">I loved it. Will book again        ★★★★★</p>
        <div class="divider"></div>
      </div>
      <div class="card-body body-service">
        <p class="card-text">Beautiful hotel but disappointing service ★★★</p>
        <div class="divider"></div>
      </div>
  </div>
</div>


<%# BOOK NOW BUTTON,CHANGE TO POP UP LATER %>
<%= simple_form_for [@service, @booking]  do |f| %>
  <%= f.input :occurs_on,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :timeslot, as: :radio_buttons, collection: @timeslots %>
  <%= f.button :submit, "Book Now", class: "button-1" %>
<% end %>

<%# Aesthetics problems with flatpicker %>
