<% @cancelled_bookings.each do |booking| %>
  <div class="booking-card-cancelled mt-3">
    <%= cl_image_tag booking.service.photos.first.key, class: "booking-card-img" %>
      <div class="card-body">
        <div class="top-body-info">
          <div class="title-price-container">
            <h5 class="card-title"><%= booking.service.user.hotel_name %></h5>
            <span class="button-2">
            </i><%= "#{booking.service.price.to_i} €" %>
            </span>
          </div>
              <div class="service-main-info">
                <div class="service-name"><%= booking.service.sub_category.name %></div>
                <div class="date-time"><%= booking.occurs_on.strftime("%A, %B %e, %Y") %></div>
              </div>
          </div>
        </div>
      </div>
 <% end  %>
