<%# TOP BAR %>
<% unless params[:controller] == "pages" && params[:action] == "home" || params[:controller] == "services" && params[:action] == "index" %>

<nav class="topbar fixed-top topbar-light">
  <%= link_to :back, class: "nav-link" do %>
      <i class="fa-solid fa-arrow-left-long topbar-icon"></i>
  <% end %>

  <h1>
    <%= content_for :navbar_title %>
  </h1>
</nav>
<% end %>

<%# NAV BAR %>
<nav class="navbar fixed-bottom navbar-light">

  <%= link_to root_path, class: "nav-link" do  %>
    <i class="fa-solid fa-house navbar-icon"></i>
  <% end %>

  <%= link_to services_path, class: "nav-link" do  %>
    <i class="fa-solid fa-magnifying-glass navbar-icon"></i>
  <% end %>

<%# PATH NEEDED FOR LIVE CHAT HERE %>
    <i class="fas fa-comment-alt navbar-icon"></i>

  <%= link_to bookings_path, class: "nav-link" do %>
    <i class="fa-solid fa-calendar-days navbar-icon"></i>
  <% end %>


<%# PATH NEEDED FOR PROFILE/USERS ID HERE %>
    <i class="fa-solid fa-user navbar-icon"></i>


</nav>
