<div class="homepage">
      <div class="head">
      </div>

      <h1 class="title">Citizi</h1>
      <p class="sub-title">Unlock Local Luxury:</p>
      <p class="sub-title">your passport to exclusive hotel services</p>
      <div class="flip-text" data-controller="home" style="display: flex;align-items: flex-start;flex-direction: row;flex-wrap: nowrap;justify-content: center;">
        <div class="flip-text-holder">
          <div class="flip-text-services">
              <span data-home-target="flipText" class='d-none'><em>Co-working</em></span>
              <span data-home-target="flipText" class='d-none'><em>Fitness</em></span>
              <span data-home-target="flipText" class='d-none'><em>Swimming pool</em></span>
              <span data-home-target="flipText" class='d-none'><em>Massage</em></span>
              <span data-home-target="flipText" class='d-none'><em>Spa</em></span>
          </div>
        </div>
      </div>

      <p>Set your location</p>
        <%= text_field_tag :address,
            params[:address],
            class: "form-control",
            placeholder: "Barcelona"
        %>

      <p>Search for a service</p>
      <%= form_with url: services_path, method: :get, class: "d-flex text_and_icon flex-container item-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Massage"
        %>

      <%= button_tag(type: "submit", name: "search", class: "button-1 orange") do %>
        <%= content_tag(:i, "Search",) %>
      <% end %>
    <% end %>
</div>

  <img id="patio-homepage" style="width: 100%; height: 100%; box-shadow: 0px 4px 82px rgba(0, 0, 0, 0.25)" src="https://images.unsplash.com/photo-1495562569060-2eec283d3391?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"/>
