<div class="homepage" id="background_image" style="background-image: url(<%= asset_path('citizi_login.jpg') %>)">
    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
      <path d="M0 100 Q 10 50 100 50 V 0 H 0 Z" fill="overlayColor"></path>
    </svg>
    <div class="inside-div">
      <div class="head-home">
      </div>

      <h1 class="title">Citizi</h1>
      <p class="sub-title">Unlock Local Luxury:</p>
      <p class="sub-title">your passport to exclusive hotel services</p>
      <div class="flip-text" data-controller="home" style="display: flex;align-items: flex-start;flex-direction: row;flex-wrap: nowrap;justify-content: center;">
        <div class="flip-text-holder">
          <div class="flip-text-services">
              <span data-home-target="flipText" class='d-none'><em>Co-working</em></span>
              <span data-home-target="flipText" class='d-none'><em>Fitness</em></span>
              <span data-home-target="flipText" class='d-none'><em>Swimming pool</em></span>
              <span data-home-target="flipText" class='d-none'><em>Massage</em></span>
              <span data-home-target="flipText" class='d-none'><em>Spa</em></span>
          </div>
        </div>
      </div>

      <div class="form-home">
        <%= form_with url: services_path, method: :get, class: "d-flex text_and_icon flex-container item-flex" do %>
          <%= text_field_tag :address,
              params[:address],
              class: "form-control",
              placeholder: "Set your location", label: "Set your location"
          %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Search for a service", label: "Search for a service"
          %>
        <%= button_tag(type: "submit", name: "search", class: "orange") do %>
          <%= content_tag(:i, "Search",) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
