<div class="homepage" id="background_image" style="background-image: url(<%= asset_path('homepage_1.png') %>)">
      <div class="head">
      </div>
      <h1 class="title">Citizi.</h1>
        <p class="sub-title">Locals Meet Hotels</p>
          <div class="flip-text" data-controller="home">
          <p>Find the nearest</p><div class="flip-text-holder">
              <span data-home-target="flipText"><em>Fitness Room</em></span>
              <span data-home-target="flipText" class='d-none'><em>Pool</em></span>
              <span data-home-target="flipText" class='d-none'><em>Massage</em></span>
              <span data-home-target="flipText" class='d-none'><em>Co-working</em></span>
            </div>
          </div>
      <%= form_with url: services_path, method: :get, class: "d-flex text_and_icon flex-container item-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Massage, coworking... "
        %>
        <%= text_field_tag :address,
            params[:address],
            class: "form-control",
            placeholder: "Barcelona "
        %>
        <div class="line"></div>
        <%= button_tag(type: "submit", name: "search", class: "btn flex-item text_and_icon") do %>
          <%= content_tag(:i, "", class: "fas fa-search search_icon") %>
        <% end %>
      <% end %>
</div>
